/* stylelint-disable no-descending-specificity */


/* Form
############################################################################ */
.thema-form {
  display: grid;
  gap: 1em;
  max-width: 500px;
  margin: 1em auto;
  padding: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

input,
textarea {
  padding: 0.5em 0;
  border: none;
  border-bottom: 1px solid var(--color-green);
  color: var(--color-lightest);
}

input:focus,
textarea:focus {
  border-bottom: 1px solid var(--color-lightest);
}